.about {
    background-color: var(--brick-red);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-size: small;
    transform: translateY(100vh);
    transition: transform 0.5s cubic-bezier(.76, 0.03,.53,.87);
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 11;
}

.about.visible {
    transform: translateY(0);
}

#about-x {
    position: absolute;
    margin: 0;
    padding: 2px;
    width: calc(var(--home-button-size)/1.5);
    top: var(--home-button-from-left);
    left: var(--home-button-from-left);
    color: black;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.6s ease;
}

#about-x:hover {
    transform: rotateZ(90deg); /* Rotate on hover */
}

#about-img {
    position: absolute;
    margin: 0;
    width: 20vw;
    top: 10vh;
    left: 0;
}

#text-blocks {
    position: absolute;
    top: 10vh;
    right: 10vw;
}

.block {
    background-color: #863429;
    
}

#block-1 {
    margin-left: 150px;
    padding: 5px;
}

#block-1 > p {
    text-align: left;
    margin: 10px;
    width: 600px;
    transform: translateY(-50px);
    transition: all 0.7s ease-in-out;
    transition-delay: 0.7s;
    opacity: 0;
}

#block-1 > p.visible {
    transform: translateY(0);
    opacity: 1;
}

#block-2 {
    margin-top: 80px;
    padding: 5px;
}

#block-2 > p {
    text-align: left;
    margin: 10px;
    width: 750px;
    transform: translateY(-50px);
    transition: all 0.7s ease-in-out;
    transition-delay: 1s;
    opacity: 0;
}

#block-2 > p.visible {
    transform: translateY(0);
    opacity: 1;
}

.line {
    position: absolute;
    background-color: black;
    transition: transform 0.5s linear;
}

.horizontal-line {
    height: 1px;
    transform: scaleX(0);
}

.vertical-line {
    width: 1px;
    transform: scaleY(0);
}

#hl-1 {
    width: 80vw;
    top: 20vh;
    left: 0;
    transition-delay: 0.5s;
    transform-origin: left;
}

#hl-1.visible {
    transform: scaleX(1);
}

#vl-1 {
    top: 20vh;
    height: 538px;
    /*
    20vh: top value
    50vw - 620px: logo location from bottom
    */
    right: calc(10vw + 17vw);
    transition-delay: 0.7s;
    transform-origin: top;
}

#vl-1.visible {
    transform: scaleY(1);
}

#hl-2 {
    width: calc(770px + 10vw - 72px - (10vw + 17vw));
    /* 770px: length of text block
    10vw: position of text block from right
    77px: length of logo
    10vw + 17vw: right of vl-1*/
    top: calc(20vh + 538px); 
    /* 20vh: top of vl-1
    538px: length of vl-1
    */
    right: calc(10vw + 17vw); /* right of vl-1*/
    transition-delay: 1.2s;
    transform-origin: right;
}

#hl-2.visible {
    transform: scaleX(1);
}

#about-logo {
    position: absolute;
    top: calc(20vh + 538px - 10px); 
    /* 20vh: top of vl-1
    538px: length of vl-1
    10px: not sure why... but it works :)
    */
    right: calc(770px + 10vw - 77px); 
    /* 770px: length of text block
    10vw: position of text block from right
    77px: length of logo*/
    height: calc(var(--home-button-size)/2);
    transform: translateY(50%);
    filter: saturate(0) contrast(0) brightness(0);
    transition: all 0.7s ease-in-out;
    transition-delay: 1.7s;
    opacity: 0;
}

#about-logo.visible {
    opacity: 1;
}

#menu-vertical-line {
  width: 1px;
  height: 50vh;
  background-color: black;
  position: absolute;
  left: 50vw;
  bottom: var(--home-button-from-left);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease;
  transition-delay: 3s;
}

#menu-vertical-line.visible {
  transform: scaleY(1);
}

#socials {
    display: inline-block;
    position: absolute;
    top: calc(20vh + 538px - 10px); 
    /* left: 30px; */
    right: calc(770px + 10vw - 77px + 100px); 

}

#socials > span {
    position: relative;
    cursor: pointer;
    margin-right: 30px;
}

.label-underlined-when-hovered{
    --underline-offset: 0px; /* Default: matches text */

}
.label-underlined-when-hovered::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 1px;
    width: calc(100% + var(--underline-offset));
    background-color: currentColor; /* underline color */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

.label-underlined-when-hovered:hover::after {
    transform: scaleX(1);
}

@media (max-width: 1024px) and (hover: none) and (pointer: coarse)  {
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #about-img {
        position: static;
        margin: 0;
        width: 100vw;
        margin-top: 10vh;
        left: 0;
    }

    .horizontal-line {
        display: none;
    }

    .line {
        transition: transform 1s linear;
    }

    #vl-1 {
        top: calc(10vh + 100vw * 0.75);
        position: absolute;
        z-index: -1;

    }

    #text-blocks {
        position: static;
        top: 10vh;
        right: 0;
        margin-left: var(--home-button-from-left);
        margin-right: var(--home-button-from-left);
    }
    
    #block-1 {
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    #block-2 {
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    #block-1 > p {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    #block-2 > p {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .gap {
        height: 30vh;
    }

    #socials-container-mobile {
        position: static;
        margin-left: 60px;
        margin-top: 100px;
        margin-bottom: 150px;
        width: 100%;
        display: flex;
        justify-content: start;
    }

    #socials {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;
    }

    .label-underlined-when-hovered::after {
        transform: scale(1);
    }

}