/* 
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
----------------------------------------------    MENU.    -------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
*/

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--yellow);
    z-index: 10;
    transform: translateY(-100vh);
    transition: transform 0.5s cubic-bezier(.76, 0.03,.53,.87);
    overflow-y: auto;
    overflow-x: hidden;
}

.menu.visible {
    transform: translateY(0);
}

#menu-x {
    position: absolute;
    margin: 0;
    padding: 2px;
    width: calc(var(--home-button-size)/1.5);
    top: var(--home-button-from-left);
    left: var(--home-button-from-left);
    color: black;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.6s ease;
}

#menu-x:hover {
    transform: rotateZ(90deg); /* Rotate on hover */
}

#menu-title-container {
    position: absolute;
    letter-spacing: 50%;
    margin: 0;
    padding: 2px;
    top: var(--home-button-from-left);
    left: 50vw;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    transform: translateX(-50%);
}

#menu-title {
    position: relative;
    
}

#menu-logo {
    position: absolute;
    bottom: var(--home-button-from-left);
    left: 50vw;
    transform: translateX(-50%);
    height: calc(var(--home-button-size)/1.5);
    filter: saturate(0) contrast(0) brightness(0);
}

#menu-labels {
    position: absolute;
    top: 50vh;
    left: var(--home-button-from-left);
    transform: translateY(-50%);
}

.menu-label {
    text-align: left;
    margin-top: var(--home-button-from-left);
    margin-bottom: var(--home-button-from-left);
    font-size: large;
    cursor: pointer;
    position: relative;
    display: block;
    opacity: 0;
    transform: translateY(200%);
    transition: all 0.5s ease;
}

.menu-label.visible {
    opacity: 1;
    transform: translateY(0);
}

#ml1 {
    transition-delay: 0.3s;
}

#ml2 {
    transition-delay: 0.4s;
}

#ml3 {
    transition-delay: 0.5s;
}

#ml4 {
    transition-delay: 0.6s;
}

#ml5 {
    transition-delay: 0.7s;
}

#menu-vertical-line {
  width: 1px;
  height: 50vh;
  background-color: black;
  position: absolute;
  left: 50vw;
  bottom: var(--home-button-from-left);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease;
  transition-delay: 3s;
}

#menu-vertical-line.visible {
  transform: scaleY(1);
}

#menu-label-image {
    height: auto;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
}

.label-underlined-when-hovered{
    --underline-offset: 0px; /* Default: matches text */

}
.label-underlined-when-hovered::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 1px;
    width: calc(100% + var(--underline-offset));
    background-color: currentColor; /* underline color */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

.label-underlined-when-hovered:hover::after {
    transform: scaleX(1);
}