:root {
    /* colors */
    --dark-grey: #a4a6a4;
    --yellow: #FFBD2F;
    --brick-red: #863429;

    /* carousel */
    --carousel-height: 60vh;

    /* artwork size */
    --art-subject-width: 30vw;
    --art-subject-height: 40vh;
    --art-frame-width: 2.4vw;

    --art-subject-width-mobile: 80vw;
    --art-subject-height-mobile: 80vh;
    --art-frame-width-mobile: 8px;

    /* artwork position */
    --art-from-left: 55vw;
    --art-adjustment: calc(-1 * (var(--art-subject-width) * 0.5 + var(--art-from-left) - 48.5vw));

    /* home button*/
    --home-button-from-left: 20px;
    --home-button-size: 20px;

    /* item list*/
    --item-list-from-left: 10vw;

    /* back to list button*/
    --back-to-list-button-from-top: 9vh;
    --back-to-list-button-travel-distanceX: -11vw;
    --back-to-list-button-travel-distanceY: calc((9vh - var(--home-button-from-left) - 20px - 12px) * -1); 
    /* calc:
    9vh: distance from top
    20px: home button size
    12px: gap between back-to-list btn and home btn 
    -1: travel upward */
    
    

    /* detail section */
    --detail-photo-v-width: 50vw;
    --detail-photo-h-width: 97vw;
}

.label-underlined-when-hovered {
  --underline-offset: 0px; 
  --underline-origin: left; /* default */
}

.label-underlined-when-hovered::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 1px;
  width: calc(100% + var(--underline-offset));
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: var(--underline-origin); /* use variable here */
  transition: transform 0.3s ease;
}

.label-underlined-when-hovered:hover::after,
.label-underlined-when-hovered.remain::after {
  transform: scaleX(1);
}

.label-underlined-when-hovered-right {
  --underline-offset: 0px; 
  --underline-origin: right; /* default */
}

.label-underlined-when-hovered-right::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2px;
  height: 1px;
  width: calc(100% + var(--underline-offset));
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: var(--underline-origin); /* use variable here */
  transition: transform 0.3s ease;
}

.label-underlined-when-hovered-right:hover::after,
.label-underlined-when-hovered-right.remain::after {
  transform: scaleX(1);
}

body {
    font-family: "Roboto Mono";
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #ffffff;
    color: black;
    text-align: center;
    transition: background-color 0.5s ease;
    margin: 0;
}

.cutive-mono-regular {
    font-family: "Cutive Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

#home-page-content {
    position: relative;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: all 1.5s ease;
}

#home-page-content.visible {
    opacity: 1;
    pointer-events: auto;
}

.top-bar {
    position: fixed;
    width: 100%;
    z-index: 5;
    top: 8px; /* need to declare top explicit bc not sure why in the homepage, top is 16px ?? -> To be investigated*/
}

.top-left-title {
    position: absolute;
    left: 10px;
    top: var(--home-button-from-left);
    margin: 0;
}

.top-right-title {
    position: absolute;
    right: 30px;
    top: var(--home-button-from-left);
    margin: 0;
}

#top-left-title-home-page {
    letter-spacing: 20%;
    text-wrap: nowrap;
    position: absolute;
    top: 35vh;
    left: 50vw;
    margin: 0;
    transform: translate(-50%, -90px); /* -100px bc it should be above the middle point*/
}

.transition {
    transition: all 1s ease;
}

.after-welcome {
    opacity: 1;
}

#top-left-title-home-page.after-welcome {
    /* transform: translate(calc(-50vw + 18px), calc(-35vh + 18px));  */
    /*18px = 10px (left of top-left-title) + 8px (left of top-bar)*/
    /*18px = 10px (top of top-left-title) + 8px (top of top-bar)*/
    transform: translate(-50%, -100vh);
}

#top-right-title-home-page {
    font-size: small;
    /* font-weight: lighter; */
    position: absolute;
    top: 35vh;
    left: 50vw;
    margin: 0;
    text-wrap: nowrap;
    transform: translate(-50%, -60px); /* -60px bc it should be above the middle point*/
    /* transition: all 1.5s ease; */
}

#top-right-title-home-page.after-welcome {
    /* transform: translate(calc(50vw - 291px - 30px), calc(-35vh + 18px));  */
    /*291 is the width of text, 30px is gap from right
    18px = 10px (top of top-right-title) + 8px (top of top-bar)*/

    transform: translate(-50%, -100vh);
}

#welcome-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url(/assets/images/background-desktop.webp);
    filter: saturate(0);
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome-background.after-welcome {
   filter: brightness(0.9);
}

#welcome-background-subject {
    position: absolute;
    top: 20vh;
    left: 25vw;
    width: 50vw;
    height: calc(50vw * 2); /* 1/2 is the ratio of the img */
    z-index: 0;
    overflow: hidden;
    display: none;
}

#welcome-background-subject img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center top;
    filter: saturate(0) brightness(0.8) contrast(120%);
}


#welcome-background-subject.after-welcome {
    transform: translateY(-20%) scale(0.8);
    filter: saturate(0) brightness(0.8) contrast(120%) blur(5px);
}

#welcome-background-colored-rectangle {
    position: absolute;
    top: 0;
    left: calc(50vw - 14vw);
    width: 28vw;
    height: 70vh;
    z-index: 0;
    background-color: var(--yellow);
}

#welcome-background-colored-rectangle.after-welcome {
    transform: translateY(-100vh);
}

#welcome-background-colored-horizontal-line {
    position: absolute;
    top: 31vh;
    left: 0;
    width: 100%;
    height: 3px;
    z-index: -1;
    transform: translateX(-100vw);
    background-color: var(--yellow);
    display: none;
}

#welcome-background-colored-horizontal-line.after-welcome {
    transform: translateX(0);  
}

#welcome-background-colored-vertical-line {
    position: absolute;
    bottom: 0;
    left: 50vw;
    width: 3px;
    height: 30vh;
    z-index: 0;
    background-color: var(--yellow);
}

#welcome-background-colored-vertical-line.after-welcome {
    transform: translateY(40vh);
}

#menu-button {
    --text-color: white;
    position: fixed;
    margin: 0;
    padding: 2px;
    top: var(--home-button-from-left);
    left: var(--home-button-from-left);
    color: var(--text-color);
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
}

.menu-button .letter-q {
    display: inline-block;
    transform: rotateZ(0deg);
    transition: transform 0.6s ease; /* ✅ only transition transform */
    will-change: transform;         /* ✅ hint to browser to optimize */
    /*This prepares the element for GPU compositing, 
    so the transform won't force layout recalculations 
    that interfere with the requestAnimationFrame carousel.*/
}


.menu-button:hover .letter-q {
    transform: rotateZ(60deg); /* Rotate on hover */
}

#menu-button.after-welcome {
    opacity: 1;
    cursor: pointer;
}

#welcome-logo-container {
    position: absolute;
    top: calc(70vh - 35px); /* 70vh is the length of the colored rectangle*/
    left: 50vw;
    display: flex;
    transform: translate(-50%, -50%);
    /* transition: all 1s ease; */
}

#welcome-logo-container.after-welcome {
    opacity: 0;
}

#welcome-logo-mix-circle {
    width: calc(15px * 2.852); /* 2.852 is the ratio of the mixed circle*/
    mask-image: url('assets/images/mix-circle.webp');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background: #000000;
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(56, 56, 56, 1) 50%, rgba(79, 79, 79, 1) 100%);
    transition: all 0.7s ease;
}

.welcome-logo-circle {
    mask-image: url('assets/images/circle.webp');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: all 0.7s ease;
    
}

.welcome-logo-circle.wait-animate {
    animation: wait-bounce 2s ease-in-out;
}

#c1 {
    animation-delay: 0s;
    background-color: #404040;
}

#c2 {
    animation-delay: 0.5s; 
    background-color: #292929;
}

#c3 {
    animation-delay: 1s;
    background-color: black;
}

@keyframes wait-bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.circle-button {
    width: var(--home-button-size);
    height: var(--home-button-size);
    border-radius: 50%;
    background-color: #d9d9d9;
    border: none;
    position: absolute;
    top: var(--home-button-from-left);
    left: var(--home-button-from-left);
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 10;

}

.circle-button:hover {
    background-color: var(--dark-grey) !important;
}

#hovered-item {
    position: absolute;
    top: 29vh;
    left: 50vw;
    margin: 0;
    transform: translateX(-50%);
    color: white;
}

#custom-cursor {
    position: fixed;
    z-index: 100;
    color: white;
}

.main-carousel {
    position: fixed;
    bottom: 10px;
    display: flex;
    width: max-content;
    justify-content: flex-start;
    opacity: 0;
}

.main-carousel.visible{
    opacity: 1;
}

.main-carousel:hover {
    animation-play-state: paused;
}



/* Animation keyframes */
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.mix-circle-drop-shadow {
    background-image: url('assets/images/mix-circle.png');
    background-size: cover;
    background-position: center;
}

.mix-circle-drop-shadow:hover {
    filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.4));
    transform: scale(0.99);
    transition: all 0.3s;
}

.mix-circle {
    position: relative;
    height: var(--carousel-height);
    aspect-ratio: 1426 / 500;
    padding: 0;
    margin: 0;
    mask-image: url('assets/images/mix-circle.png');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    cursor: pointer;
}

.inset-shadow-mix-circle {
    background-image: url('assets/images/mix-circle-inner-shadow.png');
    background-size: cover;
    background-position: center;
    /* filter: invert(1); */
    position: fixed;
    height: var(--carousel-height);
    aspect-ratio: 1426 / 500;
    opacity: 0.5;
}

.embedded-video-container1 {
    position: fixed;
    overflow: hidden;
}

.embedded-video-container2 {
    position: fixed;
    overflow: hidden;
}

.main-iframe {
    width: calc(var(--carousel-height) * 2.852); /* 2.852: ratio of mixed-circle */
    pointer-events: none;
}

.circle-drop-shadow {
    height: var(--carousel-height);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.circle-drop-shadow:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    transform: scale(0.99);
}

.inset-shadow {
    position: fixed;
    height: var(--carousel-height);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    box-shadow: inset 10px 10px 30px rgba(252, 252, 252, 0.3);
    mix-blend-mode: hard-light;
}


.circle-art {
    height: var(--carousel-height);
    aspect-ratio: 1 / 1;

    mask-image: url('assets/images/circle.webp');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    cursor: pointer;
}

.carousel-image {
    width: var(--carousel-height);
}

#home-label {
    position: absolute;
    top: var(--home-button-from-left);
    left: calc(var(--home-button-from-left) + var(--home-button-size) * 1.3);
    margin: 0;
    opacity: 0;
    transform: translate(-20px, calc(var(--home-button-size) * 0.15));
    transition: all 0.3s;
    z-index: 9;
    color: white;
}

#home-label.visible {
    transform: translate(0, calc(var(--home-button-size) * 0.15));
    opacity: 1;
}


.youtube-title {
    position: absolute;
    color: #ffffff;
    z-index: 100;
    top: calc(50% - 10px);
    left: calc(50% - 100px);
    width: 200px;
    height: 20px;
    font-size: 20px;
    margin: 0;
}

.pattern {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    grid-template-rows: repeat(auto-fill, 60px);
    pointer-events: none;
    overflow: hidden;
    opacity: 1;
    z-index: 0;
  }

  .dot {
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    margin: auto;
    opacity: 0;
    transition: all 0.3s;
  }

.logo-footer {
    margin: 5px;
    height: 15px;
    width: 15px;

}
/* 
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
----------------------------------------------    ARTWORK-PAGE NEW----------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
*/

.invisible {
    opacity: 0 !important;
}

.frame {
    position: absolute;
    width: calc(var(--art-subject-width) + var(--art-frame-width));
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
    transform: translate(-50%, -50%);
}

#art-type-labels {
    display: inline-block;
    position: fixed;
    top: 6vh;
    transform: translateX(-50%);
}

.atl {
    position: relative;
    cursor: pointer;
    margin: 80px;
    transition: all 0.5s ease;
    
}

.atl.unselected {
    opacity: 0.3;
}

#atl1 {
    position: relative;
    cursor: pointer;
}

.artwork-container {
    position: fixed;
    top: 52vh;
    left: 50vw;
    transition: all 1s ease;
    z-index: 2;
}

.artwork-container.invisible {
    opacity: 0;
    transform: scale(1.5);
}

#ac1 {

}

#ac1.series {
    transform: translateX(calc((var(--art-subject-width) + var(--art-frame-width)) * -0.5 - 20px));
}

#ac1.series.invisible {
    opacity: 0;
    transform: scale(1.5);
}

#ac2 {
    opacity: 0;
}

#ac2.series {
    transform: translateX(calc((var(--art-subject-width) + var(--art-frame-width)) * 0.5 + 20px));
    opacity: 1;
}

.inner-rectangle {
    position: absolute;
    width: var(--art-subject-width);
    border-radius: 0.5%;
    aspect-ratio: 3 / 4;
    box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.8);
    z-index: 3;
    transition: background-image 0.3s ease-in-out;
    opacity: 1;
    background-size: cover;
    background-position: center;
    transform: translate(-50%, -50%);
}

#ir1 {

}

#ir2 {

}

.warning {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: red;
    text-wrap: nowrap;
    font-size: small;
    opacity: 0;
}
.warning.visible {
    opacity: 1;
}

ul#item-list-single {
    width: 20vw;
    position: absolute;
    top: 30vh;
    left: var(--item-list-from-left);
    height: fit-content;
    list-style: none;
    padding: 0;
    margin: 0;
}


ul#item-list-series {
    width: 20vw;
    position: absolute;
    top: 30vh;
    right: calc(var(--item-list-from-left) * 0.5);
    height: fit-content;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
}

li.item {
    font-size: small;
    width: max-content;
    pointer-events: none;
    opacity: 0;
    transition: transform 1s ease, opacity 0.6s ease;
}

li.item.visible {
    pointer-events: all;
    opacity: 1;
}

#note {
    position: fixed;
    left: 50vw;
    bottom: 5vh;
    transform: translateX(-50%);
    font-size: 0.7em;
    opacity: 0;
}
#note.visible {
    opacity: 1;
}

#subject {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: var(--art-subject-width);
    aspect-ratio: 3 / 4;
    background-size: cover;
    background-position: center;
    margin-top: calc(var(--art-frame-width) *0.5);
    z-index: 1;
}

#subject.visible {
    transform: translate(-50%, -50%) scale(1.5);
}

#subject.series {
    transform: translate(calc((var(--art-subject-width) + var(--art-frame-width)) * -0.5 - 20px - 50%), -50%);
}

#back-to-list-label {
    font-size: small;
    top: 30px;
    pointer-events: none;
    opacity: 0;
    z-index: 2;
    color: white;
}

#back-to-list-label.visible {
    pointer-events: all;
    opacity: 1;
}

#detail-vertical-line {
    position: absolute;
    width: 1px;
    height: 1100vh;
    top: 100vh;
    left: 50vw;
    background-color: white;
    opacity: 0;
    z-index: 0;
}

#detail-vertical-line.visible {
    opacity: 1;
}

#detail-info {
    margin-top: 100vh;
    flex-direction: column;
    align-items: center;
    display: none;
}

.detail-component {
    margin-top: 50vh;
    background-color: #000000;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.detail-component.visible {
    opacity: 1;
}

.detail-component.transition {
    transition: all 0.5s ease;
}

.detail-img {
    background-position: center;
    background-size: cover;
    height: 80vh;
    aspect-ratio: 3 / 4;
}

#mockup-h-1 {
    aspect-ratio: 4 / 3;
}

#video {
    height: 100vh;
}

.desc {
    width: 50vw;
    height: 40vh;
    color: white;
    font-size: small;
    text-align: center;
}

#bottom-desc {
    margin-top: 65vh;
    color: white;
    font-size: small;
    display: inline-block;
    z-index: 4;
}

#desc-3 {
    position: absolute;
    left: 25vw;
    transform: translateX(-50%);
    text-wrap: nowrap;
}

#desc-3 > span {
    font-size: small;
    margin-left: 100px;
}

#desc-4-container {

}

#desc-4 {
    position: relative;
    left: 22vw;
    transform: translateX(50%);
    cursor: pointer;
}


.shadow {
    position: fixed;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    z-index: 2;
    box-shadow: 0px 0px 60px 60px rgba(0, 0, 0, 1);
    opacity: 0;
}
.shadow.visible {
    opacity: 1;
}

#blur-top {
    top: 0;
    /* box-shadow: 0px 0px 60px 60px rgba(0, 0, 0, 1); */
}

#blur-bottom {
    bottom: 0;
}

#back-to-top-label-container {
    display: inline-block;
    z-index: 3;
    position: fixed;
    left: 50vw;
    bottom: 15px;
    transform: translateX(-50%);
    color: white;
    font-size: small;
    cursor: pointer;
    opacity: 0;
}

#back-to-top-label-container.visible {
    opacity: 1 !important;
}

#back-to-top-label {
    position: relative;
}



@media (max-width: 1024px) and (hover: none) and (pointer: coarse)  {

    :root {
        --carousel-height: 30vh;

        /* artwork size */
        --art-subject-width: 70vw;
        --art-subject-height: 40vh;
        --art-frame-width: 5vw;
    }

    #welcome-background-colored-rectangle {
        left: calc(50vw - 35vw);
        width: 70vw;
    }

    #welcome-background-subject {
        display: none;
    }

    /* 
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
----------------------------------------------    ARTWORK-PAGE NEW----------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
*/
    #art-type-labels {
        display: flex;
        justify-content: center;
        width: 100%;
        position: fixed;
        top: 6vh;
        transform: translateX(0);
    }

    .atl {
        position: relative;
        cursor: pointer;
        margin: 6vh;
        transition: all 0.5s ease;
    }

    .label-underlined-when-hovered::after {
        transform: scale(1);
    }

    .item-carousel {
        display: flex;
        width: 100%;
        position: absolute;
        top: 19vh;
        left: 50vw;
        transition: all 0.3s;
        opacity: 0;
    }

    .item-carousel.invisible {
        opacity: 0;
    } 

    .item-carousel.visible {
        opacity: 1;
    } 

    .item-c {
        text-wrap: nowrap;
        margin-right: 20px;
        transition: all 0.3s;
    }

    #single-item-carousel {
    }

    #subject {
        margin-top: calc(var(--art-frame-width) *0.75);
    }

    #subject.series {
        transform: translate(calc(-50% + 20px), calc(-50% + 20px));
    }

    #ac1.series {
        transform: translate(20px, 20px);
        z-index: 10;
    }

    #ac1.series.invisible {
        opacity: 0;
        transform: scale(1.5);
    }

    #ac2 {
        opacity: 0;
    }

    #ac2.series {
        transform: translate(-20px, -20px);
        opacity: 1;
    }

    .desc {
        width: 90vw;
    }

    .detail-img {
        background-position: center;
        background-size: cover;
        width: 100vw;
    }

    #desc-4 {
        transform: translateX(0);
        left: 25vw;
    }

    #desc-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #video {
        width: 100vw;
        height: auto;
    }
  }